{% extends "base.html" %}


{% block title %}
Home | Hotel Booking
{% endblock %}


{% block content %}

<section class="py-5 text-center">
    <div class="container">

        <h1 class="display-4 fw-bold">
            Find Your Perfect Stay
        </h1>

        <p class="lead text-muted">
            Discover amazing hotels and book your perfect room.
        </p>

        <a href="#" class="btn btn-dark btn-lg mt-3">
            Explore Hotels
        </a>

    </div>
</section>

{% endblock %}