{% extends "base.html" %}


{% block title %}
Hotels | Hotel Booking
{% endblock %}


{% block content %}

<div class="container py-5">

    <h1 class="mb-4">Available Hotels</h1>

    <div class="row">

        {% for hotel in hotels %}

        <div class="col-md-4 mb-4">

            <div class="card h-100">

                {% if hotel.image %}
                    <img 
                        src="{{ hotel.image.url }}"
                        class="card-img-top"
                        alt="{{ hotel.name }}"
                    >
                {% endif %}

                <div class="card-body">

                    <h5 class="card-title">
                        {{ hotel.name }}
                    </h5>

                    <p class="card-text text-muted">
                        📍 {{ hotel.location }}
                    </p>

                    <p class="card-text">
                        {{ hotel.description|truncatewords:20 }}
                    </p>

                   <a href="{% url 'hotel_detail' hotel.id %}" class="btn btn-dark">
    View Hotel
</a>

                </div>

            </div>

        </div>

        {% empty %}

        <p>No hotels available.</p>

        {% endfor %}

    </div>

</div>

{% endblock %}